{% extends "template.html" %}

{% load static %}

{% load humanize %}

{% block title %}All Jobs{% endblock %}

{% block content %}

<h1 class="mt-3">All Jobs</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Service Date</th>
      <th scope="col">Service Time</th>
      <th scope="col">Service Type</th>
      <th scope="col">Cost</th>
	  <th scope="col">Customer Name</th>
      <th scope="col">Worker Name</th>
      <th scope="col">Wage</th>
      <th scope="col">Address</th>
	  <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>{{request.date|date:'D d M Y'}}</td>
        <td>{{request.timeOfDayFormatted}}</td>
        <td>{{request.typeFormatted}}</td>
        <td>${{request.cost|floatformat:2}}</td>
		<td>{{request.customer.userprofile.userName}}</td>
        <td>{% if request.workerID is not None %}{{request.worker.userprofile.userName}}{% else %}-{% endif %}</td>
        <td>${{request.cost|floatformat:2}}</td>
        <td>{{request.customer.userprofile.userAddress}}</td>
	    {% if request.complete == 0 %}
		    <td>Incomplete</td>
	    {% else %}
			<td>Complete</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}