{% extends "template.html" %}
{% load static %}
{% block content %}
    <div class="row align-items-center g-lg-5 py-5 imagediv">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to the Lawndromat</h1>
        <p class="col-lg-10 fs-4">The service that takes your lawn from mean to green!</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3 floatingbox" >
            <p class="col-lg-10 fs-4">If you're ready to see the brighter side of lawn care sign up today!</p>
            <a type="button" href="/register/" class="btn btn-primary px-4">Sign up</a>
            <a type="button" class="btn btn-secondary px-4" href="/accounts/login/" class="btn btn-primary">Sign in</a> 
          </div>
        </form>
      </div>
    </div>
    <div class="row align-items-center">
      <h2 class="display-8 fw-bold mb-3 mt-5">About us</h2>
      <p class="col-lg-10 fs-5">At the Lawndromat, we provide a convenient way for anyone seeking lawnmowing services to connect with workers in their area.  
		We offer the services of cutting grass, including trimming around the edges, removal of debris, 
		and weed control. We also offer leaf and snow removal services.
        We're here to make your lawn the best that it can be! Satisfaction guaranteed, or your money back!</p>

    </div>
{% endblock %}
