{% extends "template.html" %}

{% block content %}
	<body style="background-color:#33FFA4;">
	{% if user.is_authenticated %}
		<p stype="background-color:#FF3333" style="font-size:40px" align="center">Hello, {{ user.userprofile.userName }}!</p>
		<p stype="background-color:#FF3333" style="font-size:40px" align="center">Welcome to our lawncare services!</p>
		{% if user.userprofile.userType == "worker"%}
			<a type="button" href="/accounts/profile/availability/" class="btn btn-primary">Update Availability</a>
		{% endif %}
		<br>
		<br>
		<a type="button" href="/accounts/profile/update/" class="btn btn-primary">Update User Info</a>
	{% else %}
		<p stype="background-color:#FF3333" style="font-size:40px" align="center">Please login to see this page.</p>
    {% endif %}
	</body>
{% endblock %}