{% extends "template.html" %}

{% block content %}
	<body>
	{% if user.is_authenticated %}
		<h2 align="center">Hello, {{ user.userprofile.userName }}!</p>
		<h2 align="center">Welcome to Lawndromat!</p>
		<h2>ZipCode</p>
		<p>{{ user.userprofile.userZipCode }}</p>
		{% if user.userprofile.userType == "customer"%}
			<h2>User Address</p>
			<p>{{ user.userprofile.userAddress }}</p>
		{% endif %}
		<h2>Balance</p>
		<p>${{ user.userprofile.money|floatformat:2 }}</p>
		{% if user.userprofile.userType == "worker"%}
			<a type="button" href="/accounts/profile/availability/" class="btn btn-primary">Update Availability</a>
		{% endif %}
		<br>
		<br>
		<a type="button" href="/accounts/profile/update/" class="btn btn-primary">Update User Info</a>
	{% else %}
		<h2 align="center">Please login to see this page.</p>
    {% endif %}
	</body>
{% endblock %}