{% extends "template.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<p stype="background-color:#FF3333" style="font-size:40px">Enter any new information here:</p>
		
  <form method="POST">
    {% csrf_token %}
	<div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{ user.email }}">
    </div>
	<div class="mb-3">
      <label for="name" class="form-label">Your name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="{{ user.userprofile.userName }}">
    </div>

	{% if user.userprofile.userType == "customer" or "owner" %}
		<div class="mb-3" id="addressFormItem">
		  <label for="address" class="form-label">Address</label>
		  <input type="text" class="form-control" id="address" name="address" placeholder="{{ user.userprofile.userAddress }}">
		</div>
	{% endif %}
    <div class="mb-3">
      <label for="zipcode" class="form-label">Zipcode</label>
      <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="{{ user.userprofile.userZipCode }}">
    </div>
	
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
	{% else %}
		<p>Please login to see this page.</p>
    {% endif %}
{% endblock %}