{% extends "template.html" %}

{% load static %}

{% load humanize %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h1 class="mt-3">{{title}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Service Date</th>
      <th scope="col">Service Time</th>
      <th scope="col">Service Type</th>
      {% if user.userprofile.userType == "customer" or "owner" %}
        <th scope="col">Cost</th>
        <th scope="col">Worker Name</th>
      {% else %}
        <th scope="col">Wage</th>
        <th scope="col">Address</th>
        <th scope="col">Customer Name</th>
      {% endif %}
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>{{request.date|date:'D d M Y'}}</td>
        <td>{{request.timeOfDayFormatted}}</td>
        <td>{{request.typeFormatted}}</td>
        {% if user.userprofile.userType == "customer" or "owner" %}
        <td>${{request.cost|floatformat:2}}</td>
        <td>{% if request.workerID is not None %}{{request.worker.userprofile.userName}}{% else %}-{% endif %}</td>
        {% else %}
        <td>${{request.cost|floatformat:2}}</td>
        <td>{{request.customer.userprofile.userAddress}}</td>
        <td>{{request.customer.userprofile.userName}}</td>
        {% endif %}
        <td><a href="{% url 'request' request.id %}">View</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}