{% extends "template.html" %}

{% load static %}

{% load humanize %}

{% block title %}{{request.date|date:'D d M Y'}}{% endblock %}

{% block content %}

<h2 class="mt-3">{{request.typeFormatted}} on the {{request.timeOfDayFormatted}} of {{request.date|date:'D d M Y'}} </h2>

{% if user.userprofile.userType == "customer" or user.userprofile.userType == "owner" %}
  <p>Cost: ${{request.cost|floatformat:2}}</p> 
  {% if not request.complete %}
    {% if request.workerID is None %}
      <p>This job has not been accepted by a worker yet. Please check back later.</p>
    {% else %}
      <p>This job has been accepted by {{request.worker.userprofile.userName}}.</p>
    {% endif %}
    <form method="POST" class="mb-3">
      {% csrf_token %}
      <input type="hidden" name="action" value="cancel" />
      <button type="submit" class="btn btn-danger">Cancel Job</button>
    </form>
    <a href="/request/">Back to Outstanding Jobs</a>
  {% else %}
    <p>Job completed by {{request.worker.userprofile.userName}}.</p>
    {% if request.thumbsUp is not None %}

      <p>You left the following feedback:</p>
      <p>{% if request.thumbsUp %}Thumbs Up :){% else %}Thumbs Down :({% endif %}</p>
      <p>{{ request.feedBack }}</p>
    {% else %}
    <h4>Leave Feedback</h4>
    <form method="POST" class="mb-3">
      {% csrf_token %}
      <input type="hidden" name="action" value="feedback" />
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="thumbsUp" id="true" value="true" checked>
          <label class="form-check-label" for="true">
            Thumbs Up
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="thumbsUp" id="false" value="false">
          <label class="form-check-label" for="false">
            Thumbs Down
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="feedBack">Feedback</label>
        <input type="text" class="form-control" name="feedBack" id="feedBack" />
      </div>
      <button type="submit" class="btn btn-primary">Leave Feedback</button>
    </form>
    {% endif %}
    <a href="/request/past/">Back to Completed Jobs</a>
  {% endif %}
  

{% else %}
  <p>Customer Name: {{request.customer.userprofile.userName}}</p>
  <p>Address: {{request.customer.userprofile.userAddress}}</p>
  <p>Wage: ${{request.cost|floatformat:2}}</p>
  {% if request.workerID is None %}
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="accept">
      <button type="submit" class="btn btn-primary">Accept Job</button>
    </form>
    <p class="mt-3">
      <a href="/request/open/">Back to Available Jobs</a>
    </p>
  {% else %}
    {% if not request.complete %}
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="complete">
        <button type="submit" class="btn btn-success">Complete Job</button>
      </form>
      <p class="mt-3">
        <a href="/request/">Back to Assigned Jobs</a>
      </p>
    {% else %}
      <p>Job is complete</p>
      {% if request.thumbsUp is not None %}
        <p>{{request.customer.userprofile.userName}} gave you a {% if request.thumbsUp %}Thumbs Up :){% else %}Thumbs Down :({% endif %}</p>
        <p>{{request.customer.userprofile.userName}} left the following comments: {{request.feedBack}}</p>
      {% else %}
        <p>Waiting for feedback from {{request.customer.userprofile.userName}}</p>
      {% endif %}
      <a href="/request/past/">Back to Completed Jobs</a>
    {% endif %}
  {% endif %}
{% endif %}

{% endblock %}