div.imagediv {
  background-image: url(../img/background.jpg);
  background-size: cover;
  color: white;
}
div.floatingbox {
  color: grey;
}
div.alignbutton {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div.rightal {

  float: right;
  width: 40%;
}

div.leftal {
  float: left;
  width: 50%;
}

.text-center {
  text-align: center;
}
.floats{
  float: center;
}
div.containers{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}